In [1]:
import pandas as pd
data = pd.read_csv("instagram_reach.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)

In [2]:
data.head()

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No               100 non-null    int64
 1   USERNAME           100 non-null    object
 2   Caption            94 non-null     object
 3   Followers          100 non-null    int64
 4   Hashtags           100 non-null    object
 5   Time since posted  100 non-null    object
 6   Likes              100 non-null    int64
dtypes: int64(3), object(4)
memory usage: 5.6+ KB

In [4]:
data.describe()

             S.No   Followers      Likes
count  100.000000   100.00000  100.00000
mean    16.240000   961.96000   46.48000
std      7.384286  1014.62567   55.08698
min      1.000000    11.00000    8.00000
25%     10.750000   252.75000   19.00000
50%     16.500000   612.00000   29.00000
75%     22.250000  1197.00000   46.00000
max     30.000000  4496.00000  349.00000

In [5]:
data.isnull().sum()

S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [6]:
data.nunique()

S.No                 30
USERNAME             95
Caption              94
Followers            94
Hashtags             98
Time since posted    11
Likes                55
dtype: int64

In [10]:
l = []
for i in data['Time since posted']:
    time = i.split(" ")
    l.append(int(time[0]))
data['Time since posted'] = l

In [11]:
features_likes = ['USERNAME', 'Caption', 'Hashtags', 'Followers','Time since posted']
features_time = ['USERNAME', 'Caption', 'Hashtags', 'Followers','Likes']
target_likes = 'Likes'
target_time = 'Time since posted'

In [12]:
x_likes = data[features_likes]
y_likes = data[target_likes]
x_time = data[features_time]
y_time = data[target_time]

In [13]:
x_likes.head()

,USERNAME,Caption,Hashtags,Followers,Time since posted
0,mikequindazzi,Who are #DataScientist and what do they do? >>...,#MachineLearning #AI #DataAnalytics #DataScien...,1600,11
1,drgorillapaints,We all know where it’s going. We just have to ...,#deck .#mac #macintosh#sayhello #apple #steve...,880,2
2,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,#whoiswho #aitrading #ai #aitradingteam#instat...,255,2
3,opensourcedworkplace,sfad,#iot #cre#workplace #CDO #bigdata #technology#...,340,3
4,crea.vision,Ever missed a call while your phone was chargi...,#instamachinelearning #instabigdata#instamarke...,304,3

In [14]:
y_likes.head()

0    139
1     23
2     25
3     49
4     30
Name: Likes, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
x_train_l, x_test_l, y_train_l, y_test_l = train_test_split(x_likes,y_likes,random_state=42,test_size=0.33)

In [16]:
x_train_l.shape

(67, 5)

In [17]:
x_test_l.shape

(33, 5)

In [18]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_train_encoded_l = encoder.fit_transform(x_train_l)
X_test_encoded_l = encoder.transform(x_test_l)

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
regression_l = LinearRegression()
regression_l.fit(X_train_encoded_l,y_train_l)
reg_pred_l = regression_l.predict(X_test_encoded_l)
likes_mse = mean_squared_error(y_test_l, reg_pred_l)

print(likes_mse)

3251.284505115037

In [20]:
x_train_t, x_test_t, y_train_t, y_test_t = train_test_split(x_time,y_time,random_state=42,test_size=0.33)

In [21]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_train_encoded_t = encoder.fit_transform(x_train_t)
X_test_encoded_t = encoder.transform(x_test_t)

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
regression_t = LinearRegression()
regression_t.fit(X_train_encoded_t,y_train_t)
reg_pred_t = regression_t.predict(X_test_encoded_t)
time_mse = mean_squared_error(y_test_l, reg_pred_t)

print(time_mse)

5840.9437330964