## Question 4 -
#### Write a program to download the data from the link given below and then read the data and convert the into the proper structure and return it as a CSV file.

##### Link - https://data.nasa.gov/resource/y77d-th95.json

In [1]:
from urllib.request import urlopen
import json
import pandas as pd

# store the URL in url as 
# parameter for urlopen
url = "https://data.nasa.gov/resource/y77d-th95.json" 
# store the response of URL
response = urlopen(url)
  
# storing the JSON response 
# from url in data
data_json = json.loads(response.read())

In [2]:
data_list = []
for ele in data_json:
    l = []
    for x in ele.keys():
        if type(ele[x]) == dict:
            for y in ele[x].keys():
                l.append(ele[x][y]) 
        else:        
            l.append(ele[x])
    data_list.append(l)

In [3]:
df = pd.DataFrame(data_list)
df = df.drop([11,12],axis=1)
df.columns = ['Name of Earth Meteorite','ID of Earth Meteorite','nametype',' recclass','Mass of Earth Meteorite','Fall','Year at which Earth Meteorite was hit','reclat','reclong','Point','Coordinates']

In [4]:
df.to_csv("Qstn4.csv")

In [5]:
df.head(2)

,Name of Earth Meteorite,ID of Earth Meteorite,nametype,recclass,Mass of Earth Meteorite,Fall,Year at which Earth Meteorite was hit,reclat,reclong,Point,Coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]"